.campo-externo {
  width: 800px;
  height: 540px;
  position: relative;
  background: repeating-linear-gradient(
    90deg,
    #006400,
    #006400 40px,
    #008000 40px,
    #008000 80px
  );
  background-position: 0 0;
  background-size: 80px 100%;
  box-shadow: 0px 0px 15px #000;
}

.cancha {
  width: 720px;
  height: 440px;
  position: relative;
  margin: 0 auto;
  top: calc(50% - 440px / 2);
}

.linea {
  background: white;
  position: absolute;
  z-index: 2;
}

.contorno.linea {
  border: 2px solid white;
  width: 100%;
  height: 100%;
  background: transparent;
}

.linea-central {
  width: 2px;
  height: 100%;
  top: 0;
  left: calc(50% - 1px);
  background: white;
  position: absolute;
  z-index: 2;
}

.circulo-central {
  width: 160px;
  height: 160px;
  border-radius: 160px;
  border: 2px solid white;
  background: none;
  top: calc(50% - 80px);
  left: calc(50% - 80px);
  position: absolute;
  z-index: 2;
}

.area {
  top: 25%;
  width: 17%;
  height: 50%;
  background: transparent;
  border: 2px solid white;
  position: absolute;
  z-index: 2;
}
.area.izquierda {
  left: 0;
}
.area.derecha {
  right: 0;
}
.area.chica {
  top: 36%;
  width: 5.5%;
  height: 28%;
}

.medi-luna {
  top: 35%;
  width: 17%;
  height: 30%;
  background: transparent;
  border: 2px solid white;
  position: absolute;
  z-index: 2;
}
.medi-luna.izquierda {
  left: 5%;
  border-left: none;
  border-bottom-right-radius: 1000px;
  border-top-right-radius: 1000px;
  clip-path: inset(0 0 0 70%);
}
.medi-luna.derecha {
  right: 5%;
  border-right: none;
  border-bottom-left-radius: 1000px;
  border-top-left-radius: 1000px;
  clip-path: inset(0 70% 0 0);
}

.punto {
  width: 4px;
  height: 4px;
  border-radius: 4px;
  top: calc(50% - 2px);
  background: white;
  position: absolute;
  z-index: 2;
}
.punto.izquierda {
  left: 10.8%;
}
.punto.derecha {
  right: 10.8%;
}
.punto.central {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.corner {
  width: 15px;
  height: 15px;
  position: absolute;
  background: transparent !important;
  z-index: 2;
}

.corner.arriba-izquierda {
  top: 0;
  left: 0;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  border-radius: 0 0 100% 0;
}

.corner.arriba-derecha {
  top: 0;
  right: 0;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  border-radius: 0 0 0 100%;
}

.corner.abajo-izquierda {
  bottom: 0;
  left: 0;
  border-right: 2px solid white;
  border-top: 2px solid white;
  border-radius: 0 100% 0 0;
}

.corner.abajo-derecha {
  bottom: 0;
  right: 0;
  border-left: 2px solid white;
  border-top: 2px solid white;
  border-radius: 100% 0 0 0;
}


.porteria {
  width: 16px;
  height: 54px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-image: 
    repeating-linear-gradient(45deg, rgba(255,255,255,0.1) 0px, rgba(255,255,255,0.1) 1px, transparent 1px, transparent 4px),
    repeating-linear-gradient(-45deg, rgba(255,255,255,0.1) 0px, rgba(255,255,255,0.1) 1px, transparent 1px, transparent 4px);
}

.porteria.izquierda {
  left: -16px;
  border: 2px solid white;
  border-right: none;
}

.porteria.derecha {
  right: -16px;
  border: 2px solid white;
  border-left: none;
}

.zona-tecnica {
  width: 120px;
  height: 30px;
  position: absolute;
  border: 2px dashed white;
  border-bottom: none;
  z-index: 3;
  line-height: 20px;
  text-align: center;
  color: white;
}

.zona-tecnica.local {
  bottom: 0px;
  left: 200px;
}

.zona-tecnica.visitante {
  bottom: 0px;
  right: 200px;
}

html,
body {
  height: 100%;
  margin: 0;
}
body {
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}
* {
  box-sizing: border-box;
}

@media (max-width: 600px) {
  .campo-externo {
    width: 380px;
    height: 600px;
    background: repeating-linear-gradient(
      0deg,
      #006400,
      #006400 30px,
      #008000 30px,
      #008000 60px
    );
    background-size: 100% 60px;
  }

  .cancha {
    width: 320px;
    height: 540px;
    top: 50%;
    transform: translateY(-50%);
  }

  .linea-central {
    width: 100%;
    height: 2px;
    left: 0;
    top: calc(50% - 1px);
  }

  .cancha > .porteria,
  .cancha > .area,
  .cancha > .medi-luna,
  .cancha > .punto {
    left: 50% !important;
    right: auto !important;
    transform: translateX(-50%) !important;
  }

  .porteria {
    width: 50px;
    height: 16px;
  }

  .porteria.izquierda {
    top: -16px;
    border: 2px solid white;
    border-bottom: none;
  }

  .porteria.derecha {
    bottom: -16px;
    top: auto;
    border: 2px solid white;
    border-top: none;
  }

  .area {
    width: 220px;
    height: 90px;
  }

  .area.izquierda { top: 0; }
  .area.derecha { bottom: 0; top: auto; }

  .area.chica {
    width: 100px;
    height: 30px;
  }

  .area.izquierda.chica { top: 0; }
  .area.derecha.chica { bottom: 0; top: auto; }

  .medi-luna {
    width: 120px !important;
    height: 120px !important;
    border: 2px solid white !important;
    border-radius: 50% !important;
    background: transparent !important;
    z-index: 1 !important;
  }

  .medi-luna.izquierda {
    top: 0 !important;
    clip-path: inset(90px 0 0 0) !important;
  }

  .medi-luna.derecha {
    bottom: 0 !important;
    top: auto !important;
    clip-path: inset(0 0 90px 0) !important;
  }

  .punto.izquierda { top: 58px; }
  .punto.derecha { bottom: 58px; top: auto; }

  .punto.central {
    top: 50% !important;
    transform: translate(-50%, -50%) !important;
    z-index: 10;
  }

  .circulo-central {
    width: 120px;
    height: 120px;
    top: calc(50% - 60px);
    left: calc(50% - 60px);
  }

  .zona-tecnica {
    display: block !important;
    width: 20px;
    height: 90px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    border: 2px dashed white;
    line-height: 20px;
    right: auto !important;
  }

  .zona-tecnica.local {
    left: 1px;
    top: 150px;
    border-left: none;
  }

  .zona-tecnica.visitante {
    left: 1px;
    bottom: 150px;
    top: auto !important;
    border-left: none;
  }

  .corner { width: 10px; height: 10px; }
  .corner.arriba-izquierda { top: 0; left: 0; border-radius: 0 0 100% 0; border: 2px solid white; border-top: none; border-left: none; }
  .corner.arriba-derecha { top: 0; right: 0; border-radius: 0 0 0 100%; border: 2px solid white; border-top: none; border-right: none; }
  .abajo-izquierda { bottom: 0; left: 0; border-radius: 0 100% 0 0; border: 2px solid white; border-bottom: none; border-left: none; }
  .abajo-derecha { bottom: 0; right: 0; border-radius: 100% 0 0 0; border: 2px solid white; border-bottom: none; border-right: none; }
}
